public/embeddings/bge-small-en-v1.5/model.onnx filter=lfs diff=lfs merge=lfs -text
public/embeddings/bge-small-en-v1.5/onnx/*.onnx filter=lfs diff=lfs merge=lfs -text
public/onnxruntime-web/* filter=lfs diff=lfs merge=lfs -text
